h1,h2 { margin-top: 2em!important; text-align: center }
.no-dots:after { display: none }
label span i { margin-left: 5px; }

.container {
  max-width: 900px;
  margin: 0 auto
}

.form-container {

  .ant-spin-spinning {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-style {
  margin-bottom: 10px
}

.table {
  display: table;
  .table-head, .table-body {
    display: table-row-group
  }
  .table-row {
      display: table-row;
      p { font-weight: bold }
      p, & > div { display: table-cell; padding: 5px 10px }
  }
}

button { text-transform: capitalize!important; }
